<div>
    
    <div>
        {{taskforce.name}}
    </div>
    <div>
        {{taskforce.missionStatement}}
    </div>
    <div>
        {{taskforce.leadOrganizer}}
    </div>
    <div>
        {{taskforce.contactEmail}}
    </div>

<form action="/cities/{{cityName}}/issues/{{issueIndex}}/volunteers/{{volunteerIndex}}?_method=DELETE" method="post">
    <button type="submit">
        DELETE
    </button>
</form>

</div>