

<div>
    <ul>
        {{#each volunteers}}
        <li>
            <a href="/cities/{{../cityName}}/issues/{{../issueIndex}}/volunteers/{{@index}}">
            Name: {{name}}<br>
            Role: {{description}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>