<div><label for="name">Volunteer Name:</label> {{volunteer.name}} <br>
<label for="description">Description:</label>{{volunteer.description}}

<form action="/cities/{{cityName}}/issues/{{issueIndex}}/taskforces/{{taskforceIndex}}/volunteers/{{volunteerIndex}}?_method=DELETE" method="post">
    <button type="submit">
        DELETE
    </button>
</form>

</div>